.body .footer .img{
    width: 60%;
    height: auto;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    margin-bottom: 300px;
}